<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>行方不明者捜索支援サイト</title>
    <meta name="description" content="行方不明者捜索支援サイト" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <img src="../../images/logo.svg" alt="MPS" />
      <nav>
        <a
          align="left"
          id="viewPosts"
          href="http://localhost:80/posts/viewPosts"
          >行方不明者一覧</a
        >
        <a
          align="left"
          id="viewCreate"
          href="http://localhost:80/posts/viewCreate"
          >行方不明者の投稿</a
        >
        <a align="left" id="viewMap" href="http://localhost:80/map/viewMap"
          >マップ</a
        >
        <!--擬似要素の::beforeでAタグにベル型のアイコンを表示予定-->
        <a
          align="right"
          id="viewNotification"
          href="http://localhost:80/messages/viewNotification"
          >通知</a
        >
        <!--擬似要素の::beforeでAタグに家型のアイコンを表示予定。またホバーした時にドロップダウンメニューを表示予定-->
        <a
          align="right"
          id="viewNotification"
          href="http://localhost:80/messages/viewNotification"
          >マイメニュー</a
        >
      </nav>
    </header>
  </body>
</html>
