<%- include('./header') %>

<section>
<!--あとでアイコンを設定する予定。今はリンクのみ。-->
  <a href="/auth/facebook">facebook でログインする</a>
  <a href="/auth/twitter">Twitter でログインする</a>
  <a href="/auth/google">Google でログインする</a>
</section>

<section>
  <label
    >メールアドレス
    <input type="email" name="email" />
  </label>
  <button type="button" name="button">メールアドレスで新規登録</button>
</section>

<%- include('./fotter') %>
